<div class="checkout-container">
    <!-- Order confirmation -->
  <div *ngIf="orderConfirmed" class="checkout-confirmation">
     <h1>Your Order Has Been Processed!</h1>
     <p>Thank you for your order.</p>
     <h3>We will send you e-mail confirmation shortly.</h3>
  </div>
  <!-- Checkout Info -->
  <div *ngIf="!orderConfirmed" class="checkout-info-container">

    <!-- Checkout Delivery -->
    <div *ngIf="!orderConfirmed" class="checkout-delivery-container">
        <h4>Delivery Options</h4>
        <div>
            <input [(ngModel)]="delivery" type="radio" name="exampleRadios" id="exampleRadios1" value="1" checked>
            <label for="exampleRadios1">
                Royal Mail Second Class - £2.71
            </label>
            <p class="delivery-info">
                <small>Delivery time: 2 - 3 working days</small>
            </p>
        </div>
          <div>
            <input [(ngModel)]="delivery" type="radio" name="exampleRadios" id="exampleRadios2" value="2">
            <label for="exampleRadios2">
                Royal Mail First Class - £2.71
            </label>
            <p class="delivery-info">
                <small>Delivery time: 1 - 2 working days</small>
            </p>
          </div>

          <div>
              <input [(ngModel)]="delivery" type="radio" name="exampleRadios" id="exampleRadios3" value="3">
              <label for="exampleRadios3">
                  Royal Mail Tracked48 - £3.28
              </label>
              <p class="delivery-info">
                  <small>Delivery time: 2 - 3 working days</small>
              </p>
          </div>

          <div>
              <input [(ngModel)]="delivery" type="radio" name="exampleRadios" id="exampleRadios4" value="4">
              <label for="exampleRadios4">
                  Royal Mail Tracked24 - £4.68
              </label>
              <p class="delivery-info">
                  <small>Delivery time: 1 - 2 working days</small>
              </p>
          </div>

          <div>
              <input [(ngModel)]="delivery" type="radio" name="exampleRadios" id="exampleRadios5" value="5">
              <label for="exampleRadios5">
                  DPD Express Next Day - £5.05
              </label>
              <p class="delivery-info">
                  <small>Delivery time: 1 working day</small>
              </p>
          </div>

          <div>
              <input [(ngModel)]="delivery" type="radio" name="exampleRadios" id="exampleRadios6" value="6">
              <label for="exampleRadios6">
                  DPD Weekend Shipping - £7.10
              </label>
              <p class="delivery-info">
                  <small>Delivery time: 1 working day</small>
              </p>
          </div>

          <div>
              <input [(ngModel)]="delivery" type="radio" name="exampleRadios" id="exampleRadios7" value="7">
              <label for="exampleRadios7">
                  Royal Mail Overnight - £6.40
              </label>
              <p class="delivery-info">
                  <small>Delivery time: 1 working day</small>
              </p>
          </div>
    </div>

      <!-- Checkout Summary -->
    <div *ngIf="!orderConfirmed" class="checkout-summary-container">
        <table>
            <thead>
                <tr>
                    <td colspan="3">
                        Order Summary
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of basket.basketItems">
                    <td>{{item.product.name}}</td>
                    <td>{{item.quantity}}</td>
                    <td>£{{item.cost}}</td>
                </tr>
                <tr>
                    <!-- Delivery type -->
                    <td colspan="2">{{deliveryTypes[delivery].name}}</td>
                    <td>£{{deliveryTypes[delivery].cost}}</td>
                </tr>
                <tr>
                    <td colspan="2">Total Cost</td>
                    <td>£{{(basket.totalCost + (basket.totalCost >= 40 ? 0 : deliveryTypes[delivery].cost)).toFixed(2)}}</td>
                </tr>
            </tbody>
        </table>
    </div>
  </div>
    <!-- Checkout Payment -->
    <div *ngIf="!orderConfirmed" id="paypal-button">
    </div>
</div>
