.checkout-container {
    margin: 0 auto;
    width: 90%;
    padding-bottom: 1rem;
}

.checkout-delivery-container {
    font-family: serif;
}

.checkout-delivery-container div {
  padding-bottom: 1rem;
}

.checkout-delivery-container h4 {
    margin-bottom: 1rem;
}

.checkout-delivery-container label,
.checkout-delivery-container p {
    margin-left: 5px;
}

.checkout-summary-container {
    padding-top: 1rem;
    font-family: serif;
}

.delivery-info {
  margin: 0;
  padding-left: 1.5rem;
  color: gray;
}

.checkout-summary-container table {
    width: 100%;
}

.checkout-summary-container thead {
    text-align: center;
    font-weight: bold;
    font-size: 1.3em;
    border-bottom: 1px solid lightgray;
}

.checkout-summary-container tr {
    border-bottom: 1px solid lightgray;
}

.checkout-summary-container td {
    padding: 10px;
}

.checkout-summary-container td:last-child {
    border-left: 1px solid lightgray;
}

.checkout-summary-container td:first-child {
    border-left: none;
}

#paypal-button {
    text-align: center;
    padding-top: 2rem;
}

@media screen and (min-width: 765px) {
    .checkout-info-container {
        display: flex;
        justify-content: center;
    }

    .checkout-delivery-container,
    .checkout-summary-container {
        flex-basis: 50%;
        padding-top: 0;
    }

    .checkout-delivery-container div {
        text-align: left;
    }

    .checkout-summary-container thead td {
        padding-top: 0;
    }

    #paypal-button {
        text-align: right;
    }
}

@media screen and (min-width: 1000px) {
    .checkout-container {
        max-width: 900px;
    }
}
