<section class="brands-slider" #brandsSlider>
  <h3 class="brands-slider__title">Our Brands</h3>
  <div 
    class="brands-slider__container"
    (touchstart)="setInitialPositions($event)"
    (mousedown)="setInitialPositions($event)"
    (touchmove)="scrollBrands($event)"
    (mousemove)="scrollBrands($event)"
    (mouseup)="resetIsScrollable()"
    (touchend)="resetIsScrollable()"
    #sliderContainer
  >
    <a *ngFor="let brand of brands" class="brands-slider__item" routerLink="/category/{{brand.name}}">
      <img src="https://s3.eu-west-2.amazonaws.com/petitcheri/brands/{{brand.image}}" alt={{brand.name}}>
      <span>{{brand.name}}</span>
    </a>
  </div>
</section>