.brands-slider {
  width: 100%;
  max-width: 1400px;
  overflow: hidden;
  margin: 0 auto;
  padding: .5rem 0 1rem 1rem;
}

.brands-slider__container {
  position: relative;
  left: 0;
  -webkit-transition: left 3s; /* Safari */
  transition: left 3s;
  width: fit-content;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.brands-slider__title {
  color: #F20430;
  font-family: 'Lato', sans-serif;
}

.brands-slider__item {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
}

.brands-slider__item img {
  width: 100%;
  height: 100%;
  border: 1px solid #0578BF;
  opacity: .7;
  border-radius: 50%;
}

.brands-slider__item span {
  position: absolute;
  top: 38px;
  z-index: 100000;
  left: 0;
  color: black;
  text-align: center;
  width: 100%;
  font-size: .9em;
  font-weight: bold;
  font-family: 'Roboto Mono', monospace;
}

.brands-slider__item:not(:first-child) {
  margin-left: 20px;
}
