<!-- Footer -->
<footer>
  <nav class="footer-nav">
    <ul>
        <li><a routerLink="/contact-us">Contact Us</a></li>
        <li><a routerLink="/policy/termsandconditions" routerLinkActive="active">Terms & Conditions</a></li>
        <li><a routerLink="/policy/privacy" routerLinkActive="active">Privacy Policy</a></li>
        <li><a routerLink="/policy/returns" routerLinkActive="active">Returns Policy</a></li>
        <li><a routerLink="/policy/delivery" routerLinkActive="active">Delivery Policy</a></li>
      </ul>
  </nav>
  <p class="copy-rights">© 2018 Petit Cheri. All Rights Reserved.</p>
</footer>
