footer {
    border-top: 1px solid lightgray;
}

.footer-nav {
    padding: 0.5rem 0 0.5rem 2rem;
}

.footer-nav ul {
    list-style-type: none;
}

.footer-nav li a {
    color: black;
    text-decoration: none;
    display: inline-block;
    padding: 0.5rem;
    font-family: serif;
}

.copy-rights {
    text-align: center;
    font-family: serif;
}