<div class="basket" [ngClass]="{'menu-footer-basket': menuFooterBasket}">
  <a class="basket__link" routerLink="/basket" rel="nofollow">
    <img src="https://s3.eu-west-2.amazonaws.com/petitcheri/icons/cart-white.png" class="basket__icon"/>
    <div class="basket__items-count">{{basketValues.itemsCount}}</div>
  </a>
</div>
