.basket__icon {
  width: 40px;
  height: 40px;
}

.basket__link {
  position: relative;
}

.basket__items-count {
  background-color: white;
  color: #F4173F;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  position: absolute;
  top: -22px;
  right: -12px;
}

.menu-footer-basket span {
  display: none;
}

.menu-footer-basket {
  text-align: center;
}
