<a 
  class="product" 
  [ngClass]="{'product--no-stock': !isInStock()}"
  routerLink="/product/{{product.name}}" 
  href="/product/{{product.name}}"
>
  <img
    class="product__image"
    [src]="getImageSrc(product)"
    [alt]="product.name"
  >
  <div class="product__info">
    <h2 class="product__name">{{product.name}}</h2>
    <p class="product__price">£{{product.price}}</p>
  </div>
</a>
