.product {
  display: block;
  width: 100%;
  border-top: 1px solid lightgray;
  margin-top: 1rem;
  padding: .5rem;
}

.product__image {
  display: block;
  width: 80%;
  margin: 0 auto;
}

.product__info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product__name {
  font-family: 'Gabriela', serif;
  font-size: 1em;
  text-align: center;
  color: #F4173F;
  margin: 0;
}

.product__price {
  font-family: 'Gabriela', serif;
  text-align: center;
  color: #F4173F;
  margin: 0;
  margin-top: .3rem;
}

.product--no-stock {
  cursor: not-allowed;
}

.product--no-stock .product__image {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.product--no-stock .product__name,
.product--no-stock .product__price {
  color: gray;
}