<section class="carousel-wrapper" [ngStyle]="carouselWrapperStyle">
  <button
    *ngIf="showArrowsNavigation && !isFirstSlideActive()"
    (click)="prev()" class="navigation-arrows navigation-arrow-left">
      <img src="images/icons/arrow-left.png" />
  </button>
  <button
    *ngIf="showArrowsNavigation && !isLastSlideActive()"
    (click)="next()"
    class="navigation-arrows navigation-arrow-right">
      <img src="images/icons/arrow-right.png" />
  </button>
  <ul class="carousel-inner" #carousel>
    <li
      *ngFor="let item of items;"
      [ngStyle]="{'width': itemWidth + 'px'}"
      class="appCarouselItemElement"
      (touchstart)="startTouchEvent($event)"
      (touchmove)="onTouchMove($event)"
    >
      <ng-container [ngTemplateOutlet]="item.tpl"></ng-container>
    </li>
  </ul>
  <ul *ngIf="showStepsNavigation" class="navigation-step-container">
    <li *ngFor="let item of items; index as index">
      <button
        (click)="changeStep(index)"
        class="navigation-step"
        [ngClass]="{'dark': darkTheme}"
        [disabled]="isCurrentSlide(index)"
      >
        <span *ngIf="!isCurrentSlide(index)" class="navigation__steps"></span>
        <span *ngIf="isCurrentSlide(index)" class="navigation__steps navigation__steps--selected"></span>
      </button>
    </li>
  </ul>
</section>

