.carousel-wrapper {
  overflow: hidden;
  position: relative;
  margin: auto;
}

.carousel-inner {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 6000px;
}

.navigation-arrows {
  font-size: 2.5em;
  position: absolute;
  bottom: 42%;
  background: no-repeat;
  border: none;
  cursor: pointer;
  color: white;
  z-index: 100;
}

.navigation-arrow-right {
  right: 0;
}

.navigation-arrow-left {
  left: 0;
}

.navigation-step-container {
  list-style-type: none;
  list-style-position: inside;
  display: flex;
  position: absolute;
  justify-content: center;
  z-index: 100;
  bottom: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  padding-bottom: 1rem;
}

.navigation-step {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5em;
  color: white;
}

.navigation__steps {
  width: 30px;
  height: 30px;
  border: 1px solid #0578BF;
  border-radius: 50%;
  cursor: pointer;
}

.navigation__steps--active {
  background-color: #0578BF;
}

.current-step {
  background: black;
}

.dark {
  color: black;
}
