<div class="reviews">
  <!-- <div *ngIf="!reviewsLoaded">
    <span><i class="fas fa-spinner fa-spin"></i></span>
  </div> -->
  <p *ngIf="!productHasReviews()" class="reviews__no-reviews">
    Product has no reviews.
  </p>
  <div *ngFor="let review of paginationCurrentPage; let i = index;" class="reviews__review">
    <p class="reviews__review-title">{{review.name}}</p>
    <div class="reviews__ranking">
      <span class="reviews__ranking__star" *ngIf="starIsActive(1, review.score)">&#9733;</span>
      <span class="reviews__ranking__star" *ngIf="!starIsActive(1, review.score)">&#9734;</span>
      <span class="reviews__ranking__star" *ngIf="starIsActive(2, review.score)">&#9733;</span>
      <span class="reviews__ranking__star" *ngIf="!starIsActive(2, review.score)">&#9734;</span>
      <span class="reviews__ranking__star" *ngIf="starIsActive(3, review.score)">&#9733;</span>
      <span class="reviews__ranking__star" *ngIf="!starIsActive(3, review.score)">&#9734;</span>
      <span class="reviews__ranking__star" *ngIf="starIsActive(4, review.score)">&#9733;</span>
      <span class="reviews__ranking__star" *ngIf="!starIsActive(4, review.score)">&#9734;</span>
      <span class="reviews__ranking__star" *ngIf="starIsActive(5, review.score)">&#9733;</span>
      <span class="reviews__ranking__star" *ngIf="!starIsActive(5, review.score)">&#9734;</span>
    </div>
    <p class="reviews__review-text">{{review.text}}</p>
    <hr *ngIf="!isLastReview(i)" class="reviews__review__separator" />
  </div>
  <ul class="reviews__pagination">
    <li class="reviews__pagination__item"
      [ngClass]="{'reviews__pagination__item--selected': paginationCurrentPageIndex === pageIndex}"
      *ngFor="let pageIndex of paginationNav"
      (click)="changePage(pageIndex)">
        {{pageIndex + 1}}
    </li>
  </ul>
</div>