.reviews {
  font-family: 'Roboto Mono', monospace;
  text-align: center;
  font-size: 1.2em;
  max-height: 301px;
  overflow-y: scroll;
}

.reviews__review-title {
  text-align: start;
  margin: 0;
  font-weight: 700;
}

.reviews__ranking {
  text-align: start;
}

.reviews__ranking__star {
  color: gold;
  font-size: 1.4em;
}

.reviews__review-text {
  text-align: start;
}

.reviews__review__separator {
  background-color: #04B1D8;
  border: none;
  height: 1px;
}

.reviews__pagination {
  display: flex;
  padding: 0;
  list-style: none;
  font-size: 1.3em;
  margin: 0;

}

.reviews__pagination__item {
  color: #0578BF;
  width: 30px;
}

.reviews__pagination__item--selected {
  color: #F20430;
  border-bottom: 1px solid #F20430;
}