.free-delivery {
  color: #F4173F;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .5rem 0;
}

.free-delivery img {
  width: 40px;
}

.free-delivery p {
  margin-left: 1rem;
  font-family: 'Gabriela', serif;
}


@media only screen and (min-width: 900px) {
  .free-delivery {
    font-size: 1.5em;
  }
}