<app-carousel slidesInterval="6000" [showStepsNavigation]="false" [showArrowsNavigation]="true">
  <ng-container *ngFor="let item of items;">
    <ng-container *appCarouselItem>
      <a [routerLink]="[item.url]" class="carousel-item">
        <picture>
          <source media="(max-width: 650px)" srcset="{{item.imgSm}}">
          <source media="(min-width: 651px)" srcset="{{item.imgM}}">
          <source media="(min-width: 900px)" srcset="{{item.imgL}}">
          <img src="{{item.imgL}}" alt="Flowers">
        </picture>
        <div class="carousel-title">
          <h1>{{item.title}}</h1>
        </div>
      </a>
    </ng-container>
  </ng-container>
</app-carousel>
