.carousel-item {
  display: block;
  height: 60vh;
  width: 100%;
  margin: auto;
}

.carousel-title {
  position: relative;
  top: -100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 4rem;
}

.carousel-title h1 {
  color: #F20430;
  font-family: 'Lato', sans-serif;
  font-size: 1.5em;
  letter-spacing: 3px;
  margin: 0;
  text-align: center;
  padding: 1.5rem;
}

.carousel-title a {
  color: red;
  font-weight: 700;
  font-family: serif;
  border: 1px solid red;
  background: rgba(250, 250, 250, .3);
  padding: 1rem;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  filter: grayscale(.8);
}

@media only screen and (min-width: 650px) {
  .carousel-item {
    height: 50vh;
  }
}


@media only screen and (min-width: 900px) {
  .carousel-item {
    height: 80vh;
  }
}


