<div class="splash-page-container">
  <age-verify></age-verify>
  <cookie-policy-popup></cookie-policy-popup>
  <free-delivery></free-delivery>
  <div class="top-banners">
    <a routerLink="/category/Bunny Vibrators" href="/category/Bunny Vibrators" class="collection-banner top-banners__item">
      <picture>
        <source 
          media="(min-width: 651px)" 
          srcset="https://s3.eu-west-2.amazonaws.com/petitcheri/homePage/vibrators-medium.jpg">
        <img 
          src="https://s3.eu-west-2.amazonaws.com/petitcheri/homePage/vibrators-small.jpg" 
          alt="Bunny vibrator and standard vibrator next to bra on the satin"
          class="collection-banner__picture"
        >
      </picture>
      <p class="collection-banner__text">Vibrators</p>
    </a>
    <a routerLink="/category/Bondage Gear" href="/category/Bondage Gear" class="collection-banner top-banners__item">
      <picture>
        <source 
          media="(min-width: 651px)" 
          srcset="https://s3.eu-west-2.amazonaws.com/petitcheri/homePage/bdsm-medium.jpg">
        <img 
          src="https://s3.eu-west-2.amazonaws.com/petitcheri/homePage/bdsm-small.jpg" 
          alt="Open drawer with bdsm kit(whip, handcuffs, but plug, blindfold, gag and bondage rope)"
          class="collection-banner__picture"
        >
      </picture>
      <p class="collection-banner__text">Bondage</p>
    </a>
    <a routerLink="/category/Bra Sets" href="/category/Bra Sets" class="collection-banner top-banners__item">
      <picture>
        <source 
          media="(min-width: 651px)" 
          srcset="https://s3.eu-west-2.amazonaws.com/petitcheri/homePage/sexy-lingerie-medium.jpg">
        <img 
          src="https://s3.eu-west-2.amazonaws.com/petitcheri/homePage/sexy-lingerie-small.jpg" 
          alt="Women dressed in black stockings and red high heels taking off her sexy thongs"
          class="collection-banner__picture"
        >
      </picture>
      <p class="collection-banner__text">Sexy Lingerie</p>
    </a>
    <a routerLink="/category/Remote Control Toys" href="/category/Remote Control Toys" class="collection-banner top-banners__item">
      <picture>
        <source 
          media="(min-width: 651px)" 
          srcset="https://s3.eu-west-2.amazonaws.com/petitcheri/homePage/remote-control-medium.jpg">
        <img 
          src="https://s3.eu-west-2.amazonaws.com/petitcheri/homePage/remote-control-small.jpg" 
          alt="Women holding remote control vibrator"
          class="collection-banner__picture"
        >
      </picture>
      <p class="collection-banner__text">Remote Control Toys</p>
    </a>
  </div>
  <info-icons></info-icons>
  
  <div class="gender-banners">
    <a routerLink="/category/Sex Toys For Ladies" href="/category/Sex Toys For Ladies" routerLinkActive="active" class="collection-banner gender-banners__item">
      <img 
        [lazyLoad]="'https://s3.eu-west-2.amazonaws.com/petitcheri/homePage/woman-small.jpg'" 
        alt="Women dressed in night dress"
        class="collection-banner__picture"
      >
      <p class="collection-banner__text">Sex Toys For Her</p>
    </a>
    <a routerLink="/category/Sex Toys For Men" href="/category/Sex Toys For Men" class="collection-banner gender-banners__item">
      <img 
        [lazyLoad]="'https://s3.eu-west-2.amazonaws.com/petitcheri/homePage/man-small.jpg'" 
        alt="Men in suit"
        class="collection-banner__picture"
      >
      <p class="collection-banner__text">Sex Toys For Him</p>
    </a>
  </div> 

  <a routerLink="/category/Whips" href="/category/Whips" routerLinkActive="active" class="collecion-banner long-banner">
    <picture>
      <source 
        media="(min-width: 651px)" 
        [attr.lazyLoad]="'https://s3.eu-west-2.amazonaws.com/petitcheri/homePage/whip-medium.jpg'"
      >
      <source
        media="(min-width: 901)"
        [attr.lazyLoad]="'https://s3.eu-west-2.amazonaws.com/petitcheri/homePage/whip.jpg'"
      >
      <img 
        [lazyLoad]="'https://s3.eu-west-2.amazonaws.com/petitcheri/homePage/whip-mobile.jpg'" 
        alt="Women dressed in black dress and black fishnet stockings holding whip behind her back"
        class="collection-banner__picture"
      >
    </picture>
    <p class="collection-banner__text">Whips</p>
  </a>

  <div class="bottom-banners">
    <a routerLink="/category/Bath%20and%20Massage" href="/category/Bath%20and%20Massage" routerLinkActive="active" class="collecion-banner bottom-banners__item">
      <picture>
        <source 
          media="(min-width: 651px)" 
          [attr.lazyLoad]="'https://s3.eu-west-2.amazonaws.com/petitcheri/homePage/bath-medium.jpg'"
        >
        <source
          media="(min-width: 901)"
          [attr.lazyLoad]="'https://s3.eu-west-2.amazonaws.com/petitcheri/homePage/bath.jpg'"
        >
        <img 
          [lazyLoad]="'https://s3.eu-west-2.amazonaws.com/petitcheri/homePage/bath-mobile.jpg'" 
          alt="Women holding a glass of champagne while taking a bath"
          class="collection-banner__picture"
        >
      </picture>
      <p class="collection-banner__text">Bath And Massage</p>
    </a>
    <a routerLink="/category/Female" href="/category/Female" routerLinkActive="active" class="collecion-banner bottom-banners__item">
      <picture>
        <source 
          media="(min-width: 651px)" 
          [attr.lazyLoad]="'https://s3.eu-west-2.amazonaws.com/petitcheri/homePage/panties-medium.jpg'"
        >
        <source
          media="(min-width: 901)"
          [attr.lazyLoad]="'https://s3.eu-west-2.amazonaws.com/petitcheri/homePage/panties.jpg'"
        >
        <img 
          [lazyLoad]="'https://s3.eu-west-2.amazonaws.com/petitcheri/homePage/panties-mobile.jpg'" 
          alt="Women taking down her red sexy panties while kneeling on the bed"
          class="collection-banner__picture"
        >
      </picture>
      <p class="collection-banner__text">Panties</p>
    </a>
  </div>
</div>


