.collection-banner {
  position: relative;
}

.collection-banner__picture {
  width: 100%;
  height: 85%;
}

.collection-banner__text {
  position: absolute;
  bottom: 0;
  margin: 0;
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #FFF;
  font-family: 'Gabriela', serif;
  background: #F4173F;
}

.top-banners {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.top-banners__item {
  width: 49%;
  height: 40vh;
  margin-bottom: 5px;
}

.gender-banners {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.gender-banners__item {
  width: 46%;
  height: 40vh;
  position: relative;
}

.long-banner {
  display: block;
  width: 100%;
  height: 40vh;
  margin: 1rem 0;
  position: relative;
}

.bottom-banners {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bottom-banners__item {
  width: 46%;
  height: 40vh;
  margin: 1rem 0;
  position: relative;
}

@media only screen and (min-width: 651px) {
  .top-banners {
    padding: 0 1rem;
  }
  
  .top-banners__item {
    width: 46%;
    height: 35vh;
  }
}


@media only screen and (min-width: 901px) {
  .top-banners {
    padding: 0 5rem;
    max-width: 1000px;
    margin: 0 auto;
  }
}
