<section *ngIf="showVerification" class="age-verify-container" [ngClass]="{'dark': isMouseOverUnderButton}">
  <div class="age-verify-content">
    <h1>Welcome</h1>
    <p>Please verify your age to enter.</p>
    <button class="over" (click)="proceedToPage()">I am 18 Or Older</button>
    <button 
      class="under" 
      (mouseenter)="isMouseOverUnderButton = true;" 
      (mouseleave)="isMouseOverUnderButton = false;"
      (click)="leavePage()"
    >
      I am Under 18
    </button>
  </div>
</section>