.age-verify-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100000000;
}

.dark {
  background-color: rgba(0, 0, 0, .6);
}

.age-verify-content {
  width: 290px;
  height: 290px;
  font-family: sans-serif;
  color: white;
  text-align: center;
  background-color: rgba(0, 0, 0, .8);
}

.age-verify-content h1 {
  font-size: 2em;
  margin-bottom: 1rem;
}

.age-verify-content p {
  margin-top: 0;
  font-size: 1.1em;
}

.age-verify-content button {
  display: block;
  height: 40px;
  width: 220px;
  color: white;
  text-align: center;
  border: 1px solid white;
  margin: 15px auto;
  background-color: transparent;
  cursor: pointer;
  font-size: 1em;
  font-weight: 400;
}

.age-verify-content button.over {
  background-color: green;
}

.age-verify-content button.over:hover {
  background-color: white;
  border-color: green;
  color: green;
}

.age-verify-content button.under {
  background-color: gray;
}

.age-verify-content button.under:hover {
  background-color: red;
}