<ul *ngIf="crumbs.length" class="breadcrumbs">
  <li>
    <a routerLink="/" (click)="resetBreadcrumbs()">Home</a>
    <span>|</span>
  </li>
  <li *ngFor="let breadcrumb of crumbs; let i = index;">
    <a *ngIf="i < crumbs.length - 1" routerLink="/category/{{breadcrumb}}">{{ breadcrumb }}</a>
    <span *ngIf="i < crumbs.length - 1">|</span>
    <p *ngIf="i === crumbs.length - 1"> {{ breadcrumb }}</p>
  </li>
</ul>