.breadcrumbs {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  font-size: 1.17em;
}

.breadcrumbs li {
  padding-left: .5rem;
  font-family: 'Raleway', sans-serif;
}

.breadcrumbs li a {
  color: #0578BF;
}

.breadcrumbs li span {
  padding-left: .5rem;
  color: #04B1D8;
}

.breadcrumbs li p {
  margin: 0;
  color: red;
}