<section class="home-page-product">
  <h3 class="home-page-products__title">{{title}}</h3>
  <a *ngFor="let product of products" routerLink="/product/{{product.name}}">
    <img src="https://s3.eu-west-2.amazonaws.com/petitcheri/products/{{product.image}}" alt="{{product.name}}">
    <div>
      <p>{{product.name}}</p>
      <p [ngClass]="{'discounted': product.isDiscounted}">£{{product.price}}</p>
    </div>
    <p *ngIf="product.isDiscounted" class="new-price">
      New Price: £{{product.discountedPrice}} !!!
    </p>
  </a>
</section>
