.home-page-product {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.home-page-products__title {
  width: 100%;
  margin-top: 0;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1.7em;
  color: #F20430;
  margin: 0;
  margin-bottom: 1rem;
  padding-left: 1rem;
}

.home-page-product a {
  width: 45%;
  height: 35vh;
  padding: 0.4rem;
  margin: 0 auto;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-left: 1px solid #0578BF;
  border-bottom: 1px solid #0578BF;
  position: relative;
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
  font-family: 'Lato', sans-serif;
}

.home-page-product a img {
  height: 80%;
}

.home-page-product div {
  padding-top: .4;
}

.home-page-product div p {
  margin: 0;
  font-size: .8em;
  font-family: 'Lato', sans-serif;
  color: black;
  display: inline-block;
}

.discounted {
  text-decoration: line-through;
}

.new-price {
  margin: 0;
  color: #F20430;
  font-family: 'Merienda', cursive;
  font-size: .9em;
  text-align: center;
}

.home-page-product div p:first-of-type {
  width: 70%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.home-page-product div p:last-child {
  text-align: right;
  color: #04B1D8;
  float: right;
}

@media only screen and (min-width: 550px) {
  .home-page-product {
    justify-content: center;
    width: 525px;
    margin: 0 auto;
  }

  .home-page-product a {
    width: 220px;
  }
}

@media only screen and (min-width: 1000px) {
  .home-page-product {
    width: 100%;
    max-width: 1200px;
  }

  .home-page-product a {
    width: 260px;
  }

  .home-page-products__title {
    padding: 0;
  }
}
