<div *ngIf="isNoResult()" class="no-result">
  <p class="no-result__text">No result</p>
</div>

<div
  *ngIf="!isNoResult()"
  class="products"
  infinite-scroll
  [infiniteScrollDistance]="scrollDistance"
  [infiniteScrollUpDistance]="scrollUpDistance"
  [infiniteScrollThrottle]="throttle"
  (scrolled)="onScrollDown()"
>
  <ng-product-listing 
    *ngFor="let product of products" 
    [product]="product" 
    class="product"
  ></ng-product-listing>
  <ng-inline-loading *ngIf="loadingMoreProducts"></ng-inline-loading>
</div>