.no-result {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
}

.no-result__text {
  font-size: 1.2em;
  font-family: 'Gabriela', serif;
}

.products {
  width: 99%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.product {
  width: 50%;
}

@media only screen and (min-width: 600px) {
  .product {
    width: 32%;
  }
}

@media only screen and (min-width: 900px) {
  .product {
    width: 25%;
  }
}