<div>
  <ng-loading *ngIf="loading"></ng-loading>
  <ng-sorting *ngIf="!loading" [products]="products" (itemsSorted)="updateWitSortedProducts($event)"></ng-sorting>
  <ng-products-listing *ngIf="!loading" [products]="products" (loadMoreProducts)="loadMoreProdcuts()"></ng-products-listing>
</div>
