<div class="product-info">
  <h1 class="product-info__name">{{product.name}}</h1>
  <p class="product-info__brand">Brand: {{product.brand}}</p>
  <div class="product-info__ranking">
    <span class="product-info__ranking__star" *ngIf="starIsActive(1)">&#9733;</span>
    <span class="product-info__ranking__star" *ngIf="!starIsActive(1)">&#9734;</span>
    <span class="product-info__ranking__star" *ngIf="starIsActive(2)">&#9733;</span>
    <span class="product-info__ranking__star" *ngIf="!starIsActive(2)">&#9734;</span>
    <span class="product-info__ranking__star" *ngIf="starIsActive(3)">&#9733;</span>
    <span class="product-info__ranking__star" *ngIf="!starIsActive(3)">&#9734;</span>
    <span class="product-info__ranking__star" *ngIf="starIsActive(4)">&#9733;</span>
    <span class="product-info__ranking__star" *ngIf="!starIsActive(4)">&#9734;</span>
    <span class="product-info__ranking__star" *ngIf="starIsActive(5)">&#9733;</span>
    <span class="product-info__ranking__star" *ngIf="!starIsActive(5)">&#9734;</span>
  </div>
  <p *ngIf="!isInStock()" class="product-info__out-of-stock">
    Out Of Stock
  </p>
  <p class="product-info__price">£{{product.price}}</p>
  <div *ngIf="productHasSizes()" class="product-info__size">
    <h3>Pick Your Size</h3>
    <span 
      *ngFor="let s of productStock.size" 
      (click)="setSize(s._attributes.Size)" 
      class="product-info__size-item"
      [ngClass]="{'product-info__size-item--active': size === s._attributes.Size}"
    >
        {{s._attributes.Size}}
    </span>
  </div>
  <br/>
  <label class="product-info__quantity-label" for="qty">Qty:</label>
  <input class="product-info__quantity" id="qty" type="number" min="1" [(ngModel)]="quantity">
  <button
    class="product-info__buy-btn"
    [disabled]="!isInStock()"
    (click)="basket.addToBasket(quantity, product, size)"
    [attr.title]="!isInStock() ? 'Sorry, item is out of stock.' : ''">
      Add To Cart
  </button>
</div>