.product-info {
  width: 100%;
  padding: .5rem 1rem;
  font-family: 'Lato', sans-serif;
}

.product-info__name {
  font-family: 'Lato', sans-serif;
  color: #F20430;
  font-size: 1.5em;
  margin: 0;
  padding-bottom: .3rem;
}

.product-info__brand {
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  margin: 0;
  color: #F2295E;
}

.product-info__ranking {
  padding-top: .5rem;
}

.product-info__ranking__star {
  color: gold;
  font-size: 2em;
}

.product-info__out-of-stock {
  color: #F20430;
}

.product-info__price {
  padding: .3rem 0;
  font-family: 'Lato', sans-serif;
  color: #0578BF;
  margin: 0;
}

.product-info__size {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1rem 0;
}

.product-info__size h3 {
  flex-basis: 100%;
  padding: .3rem 0;
  margin: 0;
  text-align: left;
  font-family: serif;
  border-bottom: 1px solid #04B1D8;
  color: #F20430;
}

.product-info__size-item {
  background-color: #04B1D8;
  color: white;
  border-radius: 4px;
  padding: .5rem 1rem;
  margin: .7rem 0.3rem;
  cursor: pointer;
}

.product-info__size-item--active {
  background-color: #F20430;
}

.product-info__info select {
  padding: .3rem .6rem;
  font-family: serif;
  margin-bottom: 1rem;
}

.product-info__quantity {
  width: 90px;
  padding: .6rem 1rem;
  margin-left: .5rem;
  font-family: 'Lato', sans-serif;
}

.product-info__quantity__label {
  color: #0578BF;
}

.product-info__buy-btn {
  font-family: 'Lato', sans-serif;
  background-color:  #0578BF;
  border: 1px solid  #0578BF;
  padding: 1rem 1rem;
  cursor: pointer;
  color: white;
  display: block;
  margin-top: 1rem;
}