<section style="max-width: 1850px; margin: 0 auto;">
  <ng-header (showSearchOveralay)="displaySearchOverlay($event)"></ng-header>
  <div id="spacer"></div>
  <breadcrumbs></breadcrumbs>
  <toast-component></toast-component>
  <search-overlay *ngIf="presentSearchOverlay" (closeOverlay)="hideSearchOveraly()"></search-overlay>
  <section id="main-content" (click)="closeNav(); $event.stopPropagation();" style="max-width: 1400px; margin: 0 auto;">
    <router-outlet></router-outlet>
  </section>
  <footerComponent></footerComponent>
</section>