<section>
  <a routerLink="/checkout">
    <i class="far fa-credit-card"></i>
  </a>
  <i (click)="showSearch()" class="fas fa-search"></i>
  <basket-component [menuFooterBasket]='true'></basket-component>
</section>
