section {
  position: fixed;
  margin: 0 auto;
  bottom: 0;
  z-index: 1000;
  left: 0;
  right: 0;
  width: 50%;
  z-index: 1000000;
  background: red;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

section i {
  color: white;
  font-size: 2em;
  cursor: pointer;
}

@media only screen and (min-width: 900px) {
  section {
    display: none;
  }
}
