<div class="basket-container">
	<h1 *ngIf="!basketItems || !basketItems.length" class="basket-empty">Basket is empty.</h1>

  <section class="basket-info-container">
    <h3>Items: {{itemsCount}}</h3>
    <h3>Total Price: £{{totalCost}}</h3>

    <a *ngIf="basketItems && basketItems.length" routerLink="/checkout" class="basket-checkout">CHECKOUT</a>
  </section>

	<div *ngIf="basketItems && basketItems.length" class="basket-items-container">
		<div class="basket-item-container" *ngFor="let item of basketItems">
			<div class="basket-photo-container">
				<img src="{{'https://s3.eu-west-2.amazonaws.com/petitcheri/products/' + item.product.image}}" alt="{{item.product.name}}">
				<h4>{{item.product.name}}</h4>
			</div>
			<div class="basket-item-info">
					<p>Quantity: {{item.quantity}}</p>
					<p>£{{item.cost}}</p>
			</div>
			<button type="button" (click)="removeItem(item.product)">
				Remove
			</button>
		</div>
	</div>
</div>




