.basket-container {
  width: 95%;
  margin: 0 auto;
}

.basket-container h3 {
  font-family: 'Lato', sans-serif;
  padding-bottom: .5rem;
  margin: 0;
}

.basket-items-container {
    width: 100%;
    margin: 0 auto;
}

.basket-item-container {
    width: 100%;
    margin: 0 auto;
}

.basket-item-container img {
  width: 100%;
}

.basket-item-container h4 {
  font-family: 'Roboto Mono', monospace;
  color: #F20430;
  font-size: 1.1em;
}

.basket-item-info {
    display: flex;
    justify-content: space-around;
}

.basket-item-info p {
  font-family: 'Roboto Mono', monospace;
  color: black;
  font-size: 1em;
}

.basket-item-container button {
  display: block;
  margin: .5rem auto 1rem auto;
  background-color: white;
  border: 1px solid lightgray;
  color: grey;
  font-family: 'Roboto Mono', monospace;
}

.basket-checkout {
  background-color: #0578BF;
  border: 1px solid #04B1D8;
  cursor: pointer;
  color: white;
  text-align: center;
  display: block;
  margin: 1rem auto;
  padding: 1rem 0;
  width: 60%;
}

.basket-checkout:hover {
  background-color: #04B1D8;
  border: 1px solid #0578BF;
}

@media screen and (min-width: 765px) {
  .basket-items-container {
    width: 95%;
  }

  .basket-item-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .basket-photo-container {
    width: 25%;
  }

  .basket-item-info {
    flex-direction: column;
    justify-content: center;
    width: 30%;
    align-items: center;
  }

  .basket-item-container button {
    display: initial;
    margin: 0;
  }
}

@media screen and (min-width: 1000px) {
  .basket-container {
    max-width: 600px;
  }
}
