<header class="header">
  <div class="header__logo">
    <a routerLink="/" rel="nofollow">
      Petit Cheri
      <img src="https://s3.eu-west-2.amazonaws.com/petitcheri/icons/love-white%4040x40.png"/>
    </a>
    <p>Fullfill Your Bedroom Desires</p>
  </div>
  <div class="header__actions">
    <img 
      src="https://s3.eu-west-2.amazonaws.com/petitcheri/icons/search-white.png" 
      (click)="showSearchOveralay.emit('open')" 
      class="header__actions__search" 
    />
    <div class="header__actions__utilities">
      <search-component class="search-component"></search-component>
      <basket-component class="header__actions__basket"></basket-component>
    </div>
    <app-menu></app-menu>
  </div>
  <app-menu-big class="big-navigation"></app-menu-big>
</header>



