.header {
  position: fixed;
  top: 0;
  z-index: 1000000;
  width: 99.9%;
  background-color: #F4173F;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.header__logo {
  width: 360px;
  margin: auto;
  padding: .4rem 2rem;
  border-bottom: 2px solid #FFF;
}

.header__logo a {
  color: #FFF;
  text-decoration: none;
  font-size: 2em;
  font-family: 'Gabriela', serif;
}

.header__logo img {
  vertical-align: middle;
  margin-left: 5px;
}

.header__logo p {
  color: #FFF;
  margin: 0;
  text-align: end;
  font-family: 'Gabriela', serif;
}

.header__logo--hide {
  display: none;
}

.header__actions {
  width: 300px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: .3rem 0;
}

.header__actions__search {
  cursor: pointer;
  width: 40px;
  height: 40px;
  margin-right: 2rem;
}

.header__actions__utilities {
  display: flex;
}

.search-component {
  display: none;
}

.header__actions__basket {
  margin-right: 2rem;
}

.big-navigation {
  display: none;
}

@media only screen and (min-width: 580px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
  }

  .header__logo {
    margin: 0;
    margin-left: 1rem;
    border-bottom: none;
    border-right: 2px solid #FFF;
  }

  .header__logo--hide {
    display: initial;
  }
}

@media only screen and (min-width: 1100px) {
  header {
    flex-wrap: wrap;
    justify-content: flex-start;
    border-bottom: 1px solid black;
  }

  .header__actions {
    width: 400px;
    padding: 0;
  }

  .header__actions__search {
    display: none;
  }

  .search-component {
    display: initial;
    flex-basis: 45%;
  }

  .header__actions__utilities {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-basis: 70%;
    padding-bottom: 1rem;
  }

  .big-navigation {
    display: initial;
    flex-basis: 100%;
  }
}


