<div class="size-chart">
  <table class="size-chart__table">
    <thead>
      <tr>
        <th>Lingerie Size</th>
        <th>UK Dress size</th>
        <th>Bust</th>
        <th>Cup Size</th>
        <th>Waist</th>
        <th>Hips</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>Small</th>
        <td>8 - 10</td>
        <td>32" - 34"</td>
        <td>A - B</td>
        <td>24" - 26"</td>
        <td>34" - 36"</td>
      </tr>
      <tr>
        <th>Medium</th>
        <td>12 - 14</td>
        <td>34" - 36"</td>
        <td>B - C</td>
        <td>26" - 28"</td>
        <td>36" - 38"</td>
      </tr>
      <tr>
        <th>Large</th>
        <td>14 - 16</td>
        <td>36" - 38"</td>
        <td>C - D</td>
        <td>28" - 32"</td>
        <td>38" - 40"</td>
      </tr>
      <tr>
        <th>XL</th>
        <td>16 - 18</td>
        <td>40" - 42"</td>
        <td>D - DD</td>
        <td>34" - 36"</td>
        <td>42" - 44"</td>
      </tr>
      <tr>
        <th>XXL</th>
        <td>20 - 22</td>
        <td>44" - 46"</td>
        <td>DD - E</td>
        <td>38" - 40"</td>
        <td>>46" - 48"</td>
      </tr>
      <tr>
        <th>XXXL</th>
        <td>22 - 24</td>
        <td>46" - 48"</td>
        <td>DD - E</td>
        <td>40" - 42"</td>
        <td>48" - 50"</td>
      </tr>
      <tr>
        <th>One size</th>
        <td>8 - 12</td>
        <td>32" - 38"</td>
        <td>B - C</td>
        <td>24" - 32"</td>
        <td>34" - 40"</td>
      </tr>
      <tr>
        <th>S / M</th>
        <td>8 - 10</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th>M / L</th>
        <td>12-14</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th>L / XL</th>
        <td>16-18</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
      </tr>
      <tr>
        <th>1XL - 2 XL</th>
        <td>16-18</td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
      </tr>
      <tr>
        <th>3XL - 4 XL</th>
        <td>20-22</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>

  <table class="size-chart__table">
    <thead>
      <tr>
        <th>Mens Size</th>
        <th>Waist</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>Small</th>
        <td>28 -30</td>
      </tr>
      <tr>
        <th>Medium</th>
        <td>32 - 34</td>
      </tr>
      <tr>
        <th>Large</th>
        <td>36 - 38</td>
      </tr>
      <tr>
        <th>XL</th>
        <td>38 - 40</td>
      </tr>
    </tbody>
  </table>

  <table class="size-chart__table">
    <thead>
      <tr>
        <th colspan="4">Passion Mens Size</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td>S/M</td>
        <td>L/XL</td>
        <td>XXL/XXL</td>
      </tr>
      <tr>
        <td>Chest</td>
        <td>92-104</td>
        <td>104-116</td>
        <td>116-128</td>
      </tr>
      <tr>
        <td>Waist</td>
        <td>80-92</td>
        <td>92-104</td>
        <td>104-116</td>
      </tr>
    </tbody>
  </table>

  <table class="size-chart__table">
    <thead>
      <tr>
        <th>Passion Lingerie Size</th>
        <th>UK Dress size</th>
        <th>Growth</th>
        <th>Bust</th>
        <th>Waist</th>
        <th>Hips</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>S / M</th>
        <td>8 - 12</td>
        <td>158 - 164 cm</td>
        <td>A - C</td>
        <td>60 - 72 cm</td>
        <td>88 - 100 cm</td>
      </tr>
      <tr>
        <th>L / XL</th>
        <td>12 - 16</td>
        <td>164 - 170 cm</td>
        <td>B - D</td>
        <td>72 - 84 cm</td>
        <td>100 - 112 cm</td>
      </tr>
      <tr>
        <th>XXL / XXXL</th>
        <td>16 - 22</td>
        <td>170 - 172 cm</td>
        <td>C - E</td>
        <td>84 - 96 cm</td>
        <td>112 - 124 cm</td>
      </tr>
    </tbody>
  </table>

  <table class="size-chart__table">
    <thead>
      <tr>
        <th>Cotelli Collection Lingerie Size</th>
        <th>UK Dress size</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>70 b/s</th>
        <td>32B</td>
      </tr>
      <tr>
        <th>75 b/s</th>
        <td>34B</td>
      </tr>
      <tr>
        <th>75 c/m</th>
        <td>34C</td>
      </tr>
      <tr>
        <th>80 c/m</th>
        <td>36C</td>
      </tr>
      <tr>
        <th>80c/l</th>
        <td>36C</td>
      </tr>
      <tr>
        <th>85d/l</th>
        <td>36D</td>
      </tr>
    </tbody>
  </table>
</div>