.size-chart__table {
  border: 1px solid;
  width: 100%;
  margin: 10px auto;
}

.size-chart__table tr {
  border-bottom: 1px solid;
}

.size-chart__table tr:nth-child(even) {
  background-color: lightgray;
}

.size-chart__table thead {
  background-color: gray;
  color: white;
  font-family: serif;
}

.size-chart__table thead th {
  font-weight: 300;
}

.size-chart__table th,
.size-chart__table td {
  padding: .5rem;
}