<div class="specifications">
  <div *ngIf="product.coulur && product.coulur !== ''" class="specifications__item">
    <p>Colour: </p>
    <p>{{product.coulur}}</p>
  </div>
  <div *ngIf="product.washing && product.washing !== '{}'" class="specifications__item">
    <p>Washing: </p>
    <p>{{product.washing}}</p>
  </div>
  <div *ngIf="product.flexability && product.flexability !== '{}'" class="specifications__item">
    <p>Flexability: </p>
    <p>{{product.flexability}}</p>
  </div>
  <div *ngIf="product.waterproof && product.waterproof !== ''" class="specifications__item">
    <p>Waterproof: </p>
    <p>{{product.waterproof === 'f' ? 'No' : 'Yes'}}</p>
  </div>
  <div *ngIf="product.designedForWho && product.designedForWho !== '{}'" class="specifications__item">
    <p>For Who: </p>
    <p>{{product.designedForWho === 'Both' ? 'Female and Male' : product.designedForWho}}</p>
  </div>
  <div *ngIf="product.materialName && product.materialName !== '{}'" class="specifications__item">
    <p>Material Name: </p>
    <p>{{product.materialName}}</p>
  </div>
  <div *ngIf="product.misc && product.misc !== '{}'" class="specifications__item">
    <p>Info: </p>
    <p>{{product.misc}}</p>
  </div>
  <div *ngIf="product.insertable && product.insertable !== '{}'" class="specifications__item">
    <p>Insertable: </p>
    <p>{{product.insertable}}</p>
  </div>
  <div *ngIf="product.noOfPills && product.noOfPills !== '{}'" class="specifications__item">
    <p>Number Of Pills: </p>
    <p>{{product.noOfPills}}</p>
  </div>
  <div *ngIf="product.liquidVolume && product.liquidVolume !== ''" class="specifications__item">
    <p>Liquid Volume: </p>
    <p>{{product.liquidVolume}}</p>
  </div>
  <div *ngIf="product.whatIsFor && product.whatIsFor !== '{}'" class="specifications__item">
    <p>What Is For: </p>
    <p>{{product.whatIsFor}}</p>
  </div>
  <div *ngIf="product.features && product.features !== '{}'" class="specifications__item">
    <p>Features: </p>
    <p>{{product.features}}</p>
  </div>
  <div *ngIf="product.opening && product.opening !== '[{}]'" class="specifications__item">
    <p>Opening: </p>
    <p>{{convertString(product.opening)}}</p>
  </div>
  <div *ngIf="product.productPower && product.productPower !== '{}'" class="specifications__item">
    <p>Power: </p>
    <p>{{product.productPower}}</p>
  </div>
  <div *ngIf="product.lubeType && product.lubeType !== '{}'" class="specifications__item">
      <p>Lube Type: </p>
      <p>{{product.lubeType}}</p>
  </div>
  <div *ngIf="product.styleName && product.styleName !== '{}'" class="specifications__item">
      <p>Style: </p>
      <p>{{product.styleName}}</p>
  </div>
  <div *ngIf="product.motion && product.motion !== '[{}]'" class="specifications__item">
      <p>Motion: </p>
      <p>{{convertString(product.motion)}}</p>
  </div>
  <div *ngIf="product.controller && product.controller !== '{}'" class="specifications__item">
      <p>Controller: </p>
      <p>{{product.controller}}</p>
  </div>
  <div *ngIf="product.fastening && product.fastening !== '{}'" class="specifications__item">
      <p>Fastening: </p>
      <p>{{product.fastening}}</p>
  </div>
  <div *ngIf="product.whatIsIt && product.whatIsIt !== '{}'" class="specifications__item">
      <p>What Is It: </p>
      <p>{{product.whatIsIt}}</p>
  </div>
  <div *ngIf="product.harnessCompatible && product.harnessCompatible !== 'f'" class="specifications__item">
      <p>Harness Compatible: </p>
      <p>Yes</p>
  </div>
  <div *ngIf="product.diameter && product.diameter !== '{}'" class="specifications__item">
      <p>Diameter: </p>
      <p>{{product.diameter}}</p>
  </div>
  <div *ngIf="product.productWidth && product.productWidth !== '{}'" class="specifications__item">
      <p>Width: </p>
      <p>{{product.productWidth}}</p>
  </div>
  <div *ngIf="product.productLength && product.productLength !== '[{}]'" class="specifications__item">
      <p>Length: </p>
      <p>{{convertString(product.productLength)}}</p>
  </div>
  <div *ngIf="product.productSize && product.productSize !== '[{}]'" class="specifications__item">
      <p>Size: </p>
      <p>{{convertString(product.productSize)}}</p>
  </div>
  <div *ngIf="product.condomSafe && product.condomSafe !== 'f'" class="specifications__item">
      <p>Condom Safe: </p>
      <p>Yes</p>
  </div>
</div>