<section class="search" [ngClass]="{'search--overlay': isOverlay}">
  <img 
    src="https://s3.eu-west-2.amazonaws.com/petitcheri/icons/search-white.png" 
    class="search__action" 
    (click)="search()" 
  />
  <input type="text" class="search__input" [(ngModel)]="searchQuery" placeholder="Search" />
</section>
