.search {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  padding-left: 10px;
  flex-grow: 2;
}

.search__input {
  border: none;
  border-bottom: 2px solid #0578BF;
  padding-left: 5px;
  flex-basis: 80%;
  margin: 0;
  background-color: transparent;
}

.search__input::placeholder {
  color: rgba(250, 250, 250, .5);
}

.search--overlay {
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.search--overlay .search__input {
  flex-basis: 40px;
  width: 90%;
  font-size: 2em;
  margin-bottom: 2rem;
}

@media only screen and (min-width: 1100px) {
  .search {
    padding: 1rem;
    justify-content: space-evenly;
    margin-right: 1rem;
    border-right: 1px solid white;
    align-items: center;
    width: 310px;
  }

  .search__action {
    width: 40px;
    cursor: pointer;
  }

  .search__input {
    width: 70%;
    line-height: 2em;
    font-size: 1.2em;
    color: white;
  }
}
