<section class="info-icons-container">
  <div class="icon-container">
    <img src="https://s3.eu-west-2.amazonaws.com/petitcheri/icons/streamline-icon-delivery-truck%4040x40.png">
    <div class="info-text-container">
      <p>Discreet Shipping</p>
    </div>
  </div>

  <div class="icon-container">
    <img src="https://s3.eu-west-2.amazonaws.com/petitcheri/icons/streamline-icon-delivery-truck-clock%4040x40.png">
    <div class="info-text-container">
      <p>Fast Delivery</p>
    </div>
  </div>
  <div class="icon-container">
    <img src="https://s3.eu-west-2.amazonaws.com/petitcheri/icons/streamline-icon-credit-card-lock%4040x40.png">
    <div class="info-text-container">
      <p>Secure Payment</p>
    </div>
  </div>
</section>
