.info-icons-container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
  min-height: 120px;
}

.icon-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;
  color: #F4173F;
  width: 100%;
  max-width: 400px;
  font-family: 'Gabriela', serif;
}

.info-icons-container p {
  margin: .5rem 0;
  font-size: 1.5em;
}

.info-icons-container img {
  width: 40px;
}


@media only screen and (min-width: 550px) {
  .info-icons-container {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media only screen and (min-width: 750px) {
  .info-icons-container {
    justify-content: space-between;
  }
}

