<section *ngIf="showPolicy" class="cookie-policy-popup-container">
  <p>
      We are using cookies to provide services to you and display ads based on your preferences. By using our site, 
      you agree to the use of cookies as described in our cookie policy
    <a routerLink="policy/privacy" (click)="closePopUp()">in our cookie policy.</a>
  </p>
  <i class="far fa-times-circle" (click)="closePopUp()"></i>
</section>