.cookie-policy-popup-container {
  position: fixed;
  bottom: 0;
  z-index: 10000000;
  background-color: rgba(0, 0, 0, .8);
  color: white;
  text-align: center;
  padding: 1rem 1rem;
  font-size: 1.1em;
  font-family: sans-serif;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.hide {
  display: none;
}

.cookie-policy-popup-container i {
  cursor: pointer;
  font-size: 1.3em;
}