<nav class="menu-big">
  <ul *ngIf="categories" class="menu-big__main-categories">
    <li
      *ngFor="let category of categories.children; let i = index;"
      [ngClass]="{'menu-big__main-category--active': isCategorySelected(category)}"
      class="menu-big__main-category"
    >
      <span *ngIf="category.children.length" (click)="selectCategory(category)">{{category.name}}</span>
      <a *ngIf="!category.children.length" routerLink="/category/{{category.name}}" href="/category/{{category.name}}" (click)="hideNav()">{{category.name}}</a>
      <span
        *ngIf="i < categories.children.length - 1"
        class="separator"
      >
      </span>
    </li>
  </ul>

  <section *ngIf="selected.length" [ngClass]="{'show-flex': selected.length}" class="menu-big__categories">
    <ul *ngFor="let category of selected" class="category">
      <li>
        <a
          routerLink="/category/{{category.name}}"
          href="/category/{{category.name}}"
          (click)="hideNav()"
          class="menu-link"
        >
          View All
        </a>
      </li>
      <li *ngFor="let child of category.children" [ngClass]="{'selectedSub': isCategorySelected(child)}">
        <span *ngIf="child.children.length" class="menu-item">{{child.name}}</span>
        <span *ngIf="child.children.length" (click)="selectCategory(child)" class="sub-menu-pointer">
          <span>{{child.children.length}}</span>
          <img src="images/icons/{{isCategorySelected(child) ? 'nav-right-red.png' : 'nav-right.png'}}" />
        </span>
        <a
          *ngIf="!child.children.length"
          routerLink="/category/{{child.name}}"
          href="/category/{{child.name}}"
          (click)="hideNav()"
          class="menu-link"
        >
          {{child.name}}
        </a>
      </li>
    </ul>
  </section>
</nav>
