.menu-big {
  display: none;
}

@media only screen and (min-width: 1100px) {
  .menu-big {
    display: block;
    padding-top: 2rem;
    width: 95%;
    margin: 0 auto;
  }

  .menu-big__main-categories {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    font-weight: 600;
    padding-bottom: .5rem;
    position: relative;
  }

  .menu-big__main-category {
    width: auto;
    margin-right: 1.3rem;
  }

  .menu-big__main-category,
  .menu-big__main-category a {
    cursor: pointer;
    color: white;
    font-family: 'Lato', sans-serif;
    letter-spacing: 3px;
  }

  .separator {
    display: inline-block;
    width: 4px;
    height: 4px;
    border-radius: 2px;
    background-color: #F20430;
    vertical-align: 4px;
    position: relative;
    right: -12px;
  }

  .menu-big__main-category:hover,
  .menu-big__main-category a:hover,
  .menu-big__main-category--active,
  .selected span,
  .selected a {
    color: #F20430;
    text-shadow: 1px 1px 1px #F2295E;
  }

  .menu-big__categories {
    display: flex;
    max-height: 70vh;
    overflow-y: auto;
  }

  .menu-big__categories::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
  }

  .menu-big__categories::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
  }

  .menu-big__categories::-webkit-scrollbar-thumb {
    background-color: #000000;
    border: 2px solid #555555;
  }

  .category {
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    width: 30%;
    list-style: none;
  }

  .category li {
    display: flex;
    align-items: center;
    color: white;
    justify-content: flex-end;
    border-bottom: 1px solid #038ABF;
    border-right: 1px solid #038ABF;
  }

  .selectedSub {
    color: #F20430 !important;
  }

  .category li:last-child {
    border-bottom: none;
  }

  .menu-item {
    text-align: left;
    border-right: 1px solid #038ABF;
    padding: .5rem 0 .5rem 1rem;
    width: 67%;
  }

  .menu-link {
    width: 100%;
    padding: .5rem 0 .5rem 1rem;
    text-decoration: none;
    color: inherit;
  }

  .sub-menu-pointer {
    flex-grow: 2;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .sub-menu-pointer span {
    width: 20%;
    text-align: center;
  }

  .sub-menu-pointer img {
    padding-left: .5rem;
  }
}
