<section
  *ngIf="showToast"
  class="toast-container"
  [ngClass]="{'show': showToast, 'success': type === toastTypes.success}"
>
  <button class="close" (click)="closeToast()">
    <i class="fas fa-times"></i>
  </button>
  <i *ngIf="type === toastTypes.success" class="fas fa-check"></i>
  <article>
    <h4>{{title}}</h4>
    <p>{{message}}</p>
  </article>
</section>
