.toast-container {
  position: fixed;
  right: 10px;
  z-index: 100000;
  width: 320px;
  display: flex;
  align-items: center;
  padding: 1rem;
  border: 1px solid black;
  margin-top: 1rem;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 0;
  margin: 0;
  background: transparent;
  border: none;
  cursor: pointer;
}

.toast-container i {
  width: 25%;
  font-size: 2em;
  color: green;
}


.close.close i {
  font-weight: 900;
  font-size: 1.2em;
  color: black;
}

.toast-container h4,
.toast-container p {
  margin: 0;
}

.success {
  background-color: white;
}
