<section class="search-overlay">
  <img src="images/icons/close.png" class="search-overlay__close" (click)="close()" />
  <search-component [isOverlay]="true" (closeSearch)="close()"></search-component>
</section>
