.search-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000000;
  background: #04B1D8;
}

.search-overlay__close {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
}
