<div class="sorting">
  <p class="sorting__heading">Sort By</p>
  <div class="sorting__buttons">
    <button 
      class="sorting__btn"
      [ngClass]="{'sorting__btn--active': isSortActive(0)}"
      (click)="sortBy(0)"
    >
      Price: Low to High
    </button>
    <button 
      class="sorting__btn"
      [ngClass]="{'sorting__btn--active': isSortActive(1)}" 
      (click)="sortBy(1)"
    >
      Price: High to Low
    </button>
    <button 
      class="sorting__btn"
      [ngClass]="{'sorting__btn--active': isSortActive(2)}" 
      (click)="sortBy(2)"
    >
      Avg. Customer Review
    </button>
  </div>
</div>