.sorting {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.sorting__heading {
  width: 300px;
  font-family: 'Gabriela', serif;
}

.sorting__buttons {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
}

.sorting__btn {
  border: 1px solid #F4173F;
  color: #F4173F;
  padding: 1rem .5rem;
  cursor: pointer;
  font-family: 'Gabriela', serif;
  font-size: .7em;
  font-weight: 600;
  background: #FFF;
  max-width: 100px;
}

.sorting__btn--active {
  background-color: #F4173F;
  color: #FFF;
}