<ng-loading *ngIf="loading"></ng-loading>

<section *ngIf="!loading" class="product">
  <product-photos [product]="product"></product-photos>
  <product-info [product]="product"></product-info>
  <div class="product__description">
    <p class="product__description__text">{{product.description}}</p>
  </div>

  <div class="product__accordion">
    <div class="product__accordion__header" (click)="panelsDisplay.specifications = !panelsDisplay.specifications"
      [ngClass]="{'product__acordion__header--open': panelsDisplay.specifications}">
        <h3>Specifications</h3>
        <span *ngIf="!panelsDisplay.specifications">+</span> 
        <span *ngIf="panelsDisplay.specifications">-</span>
    </div>
    <div *ngIf="panelsDisplay.specifications" class="product-accordion-body">
      <product-specifications [product]="product"></product-specifications>
    </div>
  </div>

  <div class="product__accordion">
    <div class="product__accordion__header" (click)="panelsDisplay.reviews = !panelsDisplay.reviews"
      [ngClass]="{'product__acordion__header--open': panelsDisplay.reviews}">
        <h3>Reviews</h3>
        <span *ngIf="!panelsDisplay.reviews">+</span> 
        <span *ngIf="panelsDisplay.reviews">-</span>
    </div>
    <div *ngIf="panelsDisplay.reviews" class="product-accordion-body">
      <product-reviews [productId]="product._id"></product-reviews>
    </div>
  </div>

  <div class="product__accordion">
    <div class="product__accordion__header" (click)="panelsDisplay.sizeChart = !panelsDisplay.sizeChart"
      [ngClass]="{'product__acordion__header--open': panelsDisplay.sizeChart}">
        <h3>Size Charts</h3>
        <span *ngIf="!panelsDisplay.sizeChart">+</span> 
        <span *ngIf="panelsDisplay.sizeChart">-</span>
    </div>
    <div *ngIf="panelsDisplay.sizeChart" class="product-accordion-body">
      <size-chart></size-chart>
    </div>
  </div>
</section>

