.loader {
  width: 100%;
  height: 50vh;
}

.product {
  width: 97%;
  margin: 0 auto;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  max-width: 1000px;
}

.product__description {
  padding: .5rem;
  max-width: 900px;
  margin: 0 auto;
}

.product__description__text {
  color: black;
  padding-top: .7rem;
  font-family: 'Roboto Mono', monospace;
  font-size: 1.3em;
  margin: 0;
}

.product-accordion-container {
  width: 97%;
  margin: 0 auto;
}

.product__accordion {
  width: 100%;
  margin: 10px auto;
  font-family: 'Roboto Mono', monospace;
}

.product__accordion__header {
  border: 1px solid #04B1D8;
  background-color: #0578BF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .3rem .6rem;
  color: white;
  font-family: serif;
  cursor: pointer;
}

.product__accordion__header span {
  font-size: 4em;
}

.product__acordion__header--open {
  color: #0578BF;
  background-color: white;
  border-bottom: none;
}

.product-accordion-body {
  border-bottom: 1px solid #04B1D8;
  border-left: 1px solid #04B1D8;
  border-right: 1px solid #04B1D8;
  padding: .3rem .6rem;
}

@media only screen and (min-width: 700px) {
  .product {
    flex-direction: row;
    flex-wrap: wrap;
  }

  product-photos {
    flex-basis: 55%;
  }

  product-info {
    flex-basis: 45%;
  }
}

@media only screen and (min-width: 900px) {
  .product-accordion-container {
      max-width: 900px;
      margin: 0 auto;
  }
}
