.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100vw;
  height: 85px;
}

.loader > div {
  width: 20px;
  height: 20px;
  background: #8385aa;
  border-radius: 50%;
  margin : 3px;
  animation: loader 0.6s infinite alternate;
}

.loader > div:nth-child(2) {
  animation-delay: 0.2s;
}

.loader > div:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes loader {
  to {
    opacity: 0.1;
    transform: translate(0, -20px);
    background : pink;
  }
}
