<div class="products-page-selection-container">
  <button [disabled]="selectedPage === 1" (click)="goToStartEnd(true)">
    <i class="fas fa-angle-double-left"></i>
  </button>
  <button [disabled]="selectedPage === 1" (click)="moveByOnePage(true)">
    <i class="fas fa-angle-left"></i>
  </button>

  <a *ngFor="let pageIndex of displayPages" (click)="changePage(pageIndex)"
      [ngClass]="{'selected': selectedPage === pageIndex}">
    {{pageIndex + 1}}
  </a>

  <button [disabled]="selectedPage === pagesCount[pagesCount.length - 1]" (click)="moveByOnePage()">
    <i class="fas fa-angle-right"></i>
  </button>
  <button [disabled]="selectedPage === pagesCount[pagesCount.length - 1]" (click)="goToStartEnd()">
    <i class="fas fa-angle-double-right"></i>
  </button>
</div>
