.products-page-selection-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
  font-weight: 500;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.products-page-selection-container a {
  cursor: pointer;
  font-size: 1.2em;
  padding: .3rem .8rem;
  border-left: 1px solid black;
}

.products-page-selection-container a:last-of-type {
  border-right: 1px solid black;

}

.selected {
  background-color: royalblue;
  color: white;
}

.products-page-selection-container a:hover {
  background-color: black;
  color: white;
}

.products-page-selection-container button {
  cursor: pointer;
  background: none;
  border: none;
  font-size: 1.5em;
  font-weight: 500;
  padding: 0 .5rem;
  height: 100%;
}

@media only screen and (min-width: 510px) {
  .products-page-selection-container {
      justify-content: flex-end;
      padding-right: 2rem;
  }
}
