<div *ngIf="tree" class="menu-mobile">
  <button (click)="showNavigation = true" class="menu-mobile__open-btn">
    <img src="https://s3.eu-west-2.amazonaws.com/petitcheri/icons/menu-white.png" />
  </button>
  <nav class="menu-mobile__nav" [ngClass]="{'menu-mobile__nav--active': showNavigation}">
    <header class="menu-mobile__header">
      <button 
        *ngIf="selectedCategory && selectedCategory.name !== 'main menu'" 
        (click)="goBack()" 
        class="menu-mobile__back-btn"
      >
        <img src="https://s3.eu-west-2.amazonaws.com/petitcheri/icons/nav-left-white.png" />
      </button>
      <h1 
        *ngIf="selectedCategory && selectedCategory.name !== 'main menu'"
        class="menu-mobile__nav__title"
      >
        {{selectedCategory.name}}
      </h1>
      <h1 
        *ngIf="selectedCategory && selectedCategory.name == 'main menu'"
        class="menu-mobile__nav__title menu-mobile__nav__title--logo"
      >
        Petit Cheri
        <img src="https://s3.eu-west-2.amazonaws.com/petitcheri/icons/love-white%4040x40.png"/>
      </h1>
      <button 
        (click)="showNavigation = false"
        class="menu-mobile__close-btn"
      >
        <img src="https://s3.eu-west-2.amazonaws.com/petitcheri/icons/close-white.png" />
      </button>
    </header>

    <ul 
      *ngFor="let category of tree" 
      class="menu-mobile__nav__category scrollable" 
      [ngClass]="{'menu-mobile__nav__category--active': isSelected(category.name)}"
    >
      <li>
        <a
          *ngIf="!selectedCategory || selectedCategory.name == 'main menu'"
          routerLink="/" 
          rel="nofollow" 
          (click)="hideNav()" 
          class="mobile-menu__link"
        >
          HOME
        </a>
        <a
          *ngIf="selectedCategory && selectedCategory.name !== 'main menu'"
          routerLink="/category/{{selectedCategory.name}}"
          href="/category/{{selectedCategory.name}}"
          class="mobile-menu__link"
          (click)="hideNav()"
        >
          View All
        </a>
      </li>
      <li *ngFor="let child of category.children">
        <span *ngIf="child.children" class="menu-mobile__nav__category__item">{{child.name}}</span>
        <span *ngIf="child.children" (click)="selectCategory(child)" class="menu-mobile__nav__category-pointer">
          <span>{{child.children}}</span> 
          <img src="https://s3.eu-west-2.amazonaws.com/petitcheri/icons/nav-right-white.png" />
        </span>
        <a 
          *ngIf="!child.children" 
          routerLink="/category/{{child.name}}"
          href="/category/{{child.name}}" 
          class="mobile-menu__link" 
          (click)="hideNav()"
        >
          {{child.name}}
        </a>
      </li>
    </ul>
  </nav>
</div>

