.menu-mobile__nav {
  width: 100%;
  -webkit-transition: right .3s ease-out;
  transition: right .5s ease-out;
  position: absolute;
  right: -100%;
  top: 0;
  height: 100vh;
  background-color: #F4173F;
  color: white;
  font-family: 'Lato', sans-serif;
}

.menu-mobile__open-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.menu-mobile__open-btn img {
  width: 40px;
  height: 40px;
}

.menu-mobile__back-btn,
.menu-mobile__close-btn {
  padding: .3rem;
  background-color: transparent;
  color: white;
  border: none;
}

.menu-mobile__close-btn img {
  width: 35px;
}

.menu-mobile__header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: .5rem;
  border-bottom: 1px solid #FFF;
}

.menu-mobile__nav__title {
  flex-grow: 2;
  text-align: center;
  margin: 0;
  font-family: serif;
  font-size: 1.5em;
  font-weight: 100;
  color: #FFF;
}

.menu-mobile__nav__title--logo {
  font-family: 'Gabriela', serif;
}

.menu-mobile__header span {
  font-size: 1.5em;
  padding: .3rem;
}

ul {
  list-style-type: none;
}

.menu-mobile__nav__category {
  padding: 0;
  margin: 0;
  width: 100%;
  -webkit-transition: right .3s ease-out;
  transition: right .5s ease-out;
  position: absolute;
  right: -100%;
  height: 90vh;
  overflow-y: scroll;
  font-family: 'Lato', sans-serif;
}

.menu-mobile__nav__category li {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-bottom: 1px solid #FFF;
}

.menu-mobile__nav__category__item {
  text-align: left;
  border-right: 1px solid #FFF;
  padding: .5rem 0 .5rem 1rem;
  width: 67%;
}

.mobile-menu__link {
  width: 100%;
  padding: .5rem 0 .5rem 1rem;
  text-decoration: none;
  color: white;
}

.menu-mobile__nav__category-pointer {
  flex-grow: 2;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-mobile__nav__category-pointer span {
  width: 20%;
  text-align: center;
}

.menu-mobile__nav__category-pointer img {
  padding-left: .5rem;
}

.menu-mobile__nav--active,
.menu-mobile__nav__category--active {
  right: 0;
}

@media only screen and (min-width: 1100px) {
  .menu-mobile {
    display: none;
  }
}
