<section class="contact-container">
  <h1>Contact Us</h1>
  <h2>Tel</h2>
  <a href="tel:+4407557100282">+44-07-557-100-282</a>
  <a href="tel:+48724699501">+48-724-699-501</a>
  <h2>Email</h2>
  <p>support@petitcheri.co.uk</p>
  <a href="mailto: support@petitcheri.co.uk" class="get-in-touch">Get In Touch</a>
</section>