.contact-container {
  text-align: center;
  font-family: 'Roboto Mono', monospace;
  letter-spacing: 1px;
}

.contact-container h1 {
  font-size: 2em;
}

.contact-container a {
  display: block;
  color: black;
  text-decoration: underline;
}

.contact-container .get-in-touch {
  display: inline-block;
  text-decoration: none;
  border: 1px solid white;
  background: #007ad9;
  color: white;
  padding: 1rem;
  border-radius: 10px;
  margin-top: 4rem;
  margin-bottom: 2rem;
}