.product__photos {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.products__photo {
  width: 80px;
  height: 70px;
  cursor: pointer;
}

.products__photo--active {
  width: 100%;
  height: 50vh;
}

@media only screen and (min-width: 700px) {
  .product__photos {
    width: 55%;
  }
}